@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  --heading-font-size: 32px;
  --text-font-size: 16px;
  --button-font-size: 14px;
  --primarycolor: #0d0850;
  --textcolor: #36454f;
  --textcolorWhite: #f5f5f5;
  --headerFont: "Poppins", sans-serif;
  --textFont: "Inter", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

nav {
  background-color: var(--primarycolor);
  color: var(--textcolorWhite);
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav h3 {
  font-size: var(--heading-font-size);
  font-family: var(--headerFont);
}

nav a {
  text-decoration: none;
  color: var(--textcolorWhite);
  font-size: large;
  font-weight: bold;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  overflow: hidden;
}

main section {
  display: none;
}

main section.active {
  display: flex;
}

main section.verification {
  background-color: var(--primarycolor);
  color: var(--textcolorWhite);
  font-family: var(--textFont);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 20px;
  width: 50%;
  height: fit-content;
  border-radius: 8px;
}

main section.verification .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

main section.verification .container h3,
main section.registration .container h3 {
  line-height: 24px;
}

main section.verification .container > input {
  padding: 0.8rem;
  width: 45%;
  margin: 1rem 0.8rem;
  border-radius: 4px;
  border: none;
  font-size: var(--text-font-size);
  font-family: var(--textFont);
  outline: none;
  color: var(--textcolor);
}

main section.verification .container > input:focus {
  color: var(--primarycolor);
}

main section.verification .container > button,
main section.registration .container > button {
  margin-bottom: 0.8rem;
  padding: 0.5rem;
  font-size: var(--text-font-size);
  font-family: var(--textFont);
  color: var(--primarycolor);
  border-radius: 4px;
  border: 1px solid transparent;
  display: flex;
  gap: 5px;
  width: fit-content;
  transition: all 0.5s ease;
}

main section.verification .container > button:hover,
main section.registration .container > button:hover {
  color: var(--textcolorWhite);
  background-color: var(--primarycolor);
  border-color: var(--textcolorWhite);
}

main section.verification .container > button span i {
  font-size: larger;
}

span.icon {
  animation: submit 1.5s linear infinite;
}

main section.registration {
  background-color: var(--primarycolor);
  color: var(--textcolorWhite);
  font-family: var(--textFont);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 20px;
  width: 40%;
  height: fit-content;
  border-radius: 8px;
}

main section.registration .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

main section.registration .container .input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  margin: 0.2rem;
  padding: 0.2rem;
  width: 80%;
}

main section.registration .container .input-group input {
  padding: 0.5rem;
  width: 85%;
  border-radius: 4px;
  border: none;
  font-size: var(--text-font-size);
  font-family: var(--textFont);
  outline: none;
  color: var(--textcolor);
  text-align: center;
}

main section.registration .container .input-group input:focus {
  color: var(--primarycolor);
}

#submit-details-btn {
  margin-top: 0.5rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  main section.verification {
    width: 60%;
  }

  main section.verification .container > input {
    width: 55%;
  }

  main section.registration {
    width: 60%;
  }

  main section.registration .container .input-group {
    width: 90%;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  nav h3 {
    font-size: 28px;
  }

  main section.verification {
    width: 70%;
  }

  main section.verification .container > input {
    min-width: 70%;
  }

  main section.verification .container h3,
  main section.registration .container h3 {
    font-size: 16px;
    font-weight: 600;
  }

  main section.registration {
    width: 65%;
  }

  main section.registration .container .input-group {
    width: 90%;
  }
}

@media (max-width: 480px) {
  nav h3 {
    font-size: 20px;
  }

  main section.verification {
    min-width: 90%;
  }

  main section.verification .container h3,
  main section.registration .container h3 {
    font-size: 16px;
  }

  main section.verification .container > input {
    padding: 0.65rem;
    min-width: 65%;
    margin: 0.8rem 0.65rem;
  }

  main section.verification .container > button,
  main section.registration .container > button {
    padding: 0.45rem;
  }

  main section.registration {
    min-width: 90%;
  }

  main section.registration .container .input-group {
    min-width: 90%;
  }
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes submit {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.5);
  }
}
