body[data-theme="light"] {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body[data-theme="dark"] {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 10px;
    position: relative;
    top: -15%;
    width: 85%;
    background-color: white;
    box-shadow: 0px 5px 30px var(--boxshadow-color);
    -webkit-box-shadow: -0px 5px 30px var(--boxshadow-color);
    -moz-box-shadow: -0px 5px 30px var(--boxshadow-color);
}

.container .selectors {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: var(--primarycolor);
    border: 1px solid var(--primarycolor);
}

.container .selectors > h2 {
    padding: 15px;
    flex: 1;
    text-align: center;
}

.container .selectors > h2:first-of-type {
    border-top-left-radius: 15px;
}

.container .selectors > h2:last-of-type {
    border-top-right-radius: 15px;
}

.container .selectors .active {
    background-color: var(--primarycolor);
    color: white;
}

.container .inputs-group {
    margin: 20px 5px;
    padding: 5px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container .inputs-group input {
    padding: 10px;
    width: 95%;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid grey;
    color: grey;
    font-size: large;
    font-weight: 600;
}

.container .inputs-group input:focus {
    border-bottom-color: var(--primarycolor);
    color: var(--primarycolor);
}

.container .inputs-group input:focus::placeholder {
    color: var(--primarycolor);
    transform: translateX(1%);
}

.container .auth-btn {
    width: 100%;
    margin: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .auth-btn input {
    padding: 10px;
    width: 30%;
    background-color: var(--primarycolor);
    color: white;
    border: none;
    outline: none;
    font-size: large;
    font-weight: 500;
    border-radius: 5px;
}

/* Responsiveness */

@media (min-width: 375px) {
    .container {
        width: 70%;
    }
}


@media (min-width: 768px) {
    .container {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 40%;
    }
}