{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PCE Graduation Registration</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/graduationRegistration.css' %}"
    />
    <script
      defer
      src="{% static 'javascript/graduationRegistration.js' %}"
    ></script>
  </head>
  <body>
    <head>
      <nav>
        <h3>PCE Graduation Registration</h3>
        <a href="{% url 'login-page' %}">Log In</a>
      </nav>
    </head>
    <main>
      <section class="verification active">
        <div class="container">
          <h3>
            Dear Student, Kindly enter your student index number below to verify
            your financial status and confirm that there are no outstanding
            debts prior to proceeding with your graduation registration.
            <br />
            Thank you.
          </h3>
          <input
            type="text"
            placeholder="Enter your index number"
            id="index-number"
          />
          <button id="submit-id-btn">
            <span class="icon"><i class="ri-send-plane-line"></i></span
            ><span class="text">Submit</span>
          </button>
          <p id="server-response"></p>
        </div>
      </section>
      <section class="registration">
        <div class="container">
          <h3>Please fill in the details below</h3>
          <div class="input-group">
            <label for="name">Enter Full Name</label>
            <input type="text" placeholder="Full Name" id="name" />
          </div>
          <div class="input-group">
            <label for="index-number">Enter Index Number</label>
            <input type="text" placeholder="Index Number" id="index-number-f" />
          </div>
          <div class="input-group">
            <label for="program">Enter Program</label>
            <input
              type="text"
              placeholder="Program"
              id="program"
              list="programs"
            />
          </div>
          <div class="input-group">
            <label for="gpa">Enter GPA</label>
            <input type="text" placeholder="GPA" id="gpa" />
          </div>
          <div class="input-group">
            <label for="class">Enter Class</label>
            <input
              type="text"
              placeholder="Class"
              id="class"
              list="gpClassObtained"
            />
          </div>
          <p id="server-response-final"></p>
          <button id="submit-details-btn">
            <span class="icon"><i class="ri-send-plane-line"></i></span
            ><span class="text">Submit</span>
          </button>
        </div>
      </section>
      <datalist id="programs">
        {% for program in programs %}
        <option value="{{program.name}}"></option>
        {% endfor %}
      </datalist>
      <datalist id="gpClassObtained">
        <option value="First Class"></option>
        <option value="Second Upper Class"></option>
        <option value="Second Lower Class"></option>
        <option value="Third Class"></option>
        <option value="Pass"></option>
      </datalist>
    </main>
  </body>
</html>
