{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="csrf-token" content="{{ csrf_token }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css"
    />
    <link rel="stylesheet" href="{% static 'css/general.css' %}" />
    <link rel="stylesheet" href="{% static 'css/student-dashboard.css' %}" />
    <script
      type="module"
      src="{% static 'javascript/student-dashboard.js' %}"
    ></script>
    <title>Document</title>
  </head>
  <body data-theme="light">
    <nav>
      <div class="menu-icon">
        <i class="ri-menu-2-fill"></i>
      </div>
    </nav>
    <main>
      <div class="student-info">
        <div class="profile-img">
          <img src="{% static 'assets/images/windows.jpg' %}" alt="" />
        </div>
        <div class="text-info">
          <p class="name" id="student-name"></p>
          <p class="program-category" id="student-program-level"></p>
          <p class="program" id="student-program"></p>
        </div>
      </div>
      <div class="container">
        <div class="section-title">
          <p>Quick Access</p>
        </div>
        <div class="cards-container">
          <a href="{% url 'students-academics' %}">
            <div class="card">
              <div class="icon-container">
                <i class="ri-graduation-cap-line"></i>
              </div>
              <p>Academics</p>
            </div>
          </a>
        </div>
      </div>
    </main>
    <footer>
      <img src="{% static 'assets/images/windows.jpg' %}" alt="" />
      <p>Presbyterian College of Education - Akropong</p>
    </footer>
  </body>
</html>
