{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="csrf-token" content="{{ csrf_token }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css"
    />
    <link rel="stylesheet" href="{% static 'css/general.css' %}" />
    <link rel="stylesheet" href="{% static 'css/admin/account.css' %}" />
    <script
      type="module"
      src="{% static 'javascript/admin/account.js' %}"
    ></script>
    <title>Document</title>
  </head>
  <body data-theme="light">
    <nav>
      <div class="user-info">
        <div class="profile">
          <img src="{% static 'assets/images/windows.jpg' %}" alt="profile" />
        </div>
        <div class="user-data">
          <p id="staff-name"></p>
          <p id="staff-email"></p>
          <p id="staff-department"></p>
        </div>
      </div>
      <div class="links">
        <ul>
          <li>Clear students</li>
          <li>Update Info</li>
        </ul>
        <ul>
          <li id="logout">LogOut</li>
        </ul>
      </div>
    </nav>
    <main>
      <div class="depts-container active">
        <div class="head">
          <h1>Student's With Debt's Data</h1>
        </div>
        <div class="slider dept">
          {% for level in levels %}
          <p {% if forloop.first %} class="selected" {% endif %}>{{level}}</p>
          {% endfor %}
        </div>

        {% for level, debtors in deptorsDict.items %}
        <div
          class="student-container debt {% if forloop.first %} active {% endif %}"
        >
          {% for student in debtors %}
          <div class="card">
            <p>{{ student.indexNumber }}</p>
            <p>&nbsp;{{ student.surname }} {{ student.othername }}</p>
            <input type="button" value="Clear student" />
            <!-- Add more student fields as needed -->
          </div>
          {% endfor %}
        </div>
        {% endfor %}
        <div class="action">
          <input type="button" value="Print List" />
        </div>
      </div>
      <div class="w-dept-container">
        <div class="head">
          <h1>Student's Without Debt's Data</h1>
        </div>
        <div class="slider w-dept">
          {% for level in levels %}
          <p {% if forloop.first %} class="selected" {% endif %}>{{level}}</p>
          {% endfor %}
        </div>

        {% for level, wdeptors in wdeptosDict.items %}
        <div
          class="student-container w-debt {% if forloop.first %} active {% endif %}"
        >
          {% for student in wdeptors %}
          <div class="card">
            <p>{{ student.indexNumber }}</p>
            <p>{{ student.surname }} {{ student.othername }}</p>
            <input type="button" value="Add to debt" />
            <!-- Add more student fields as needed -->
          </div>
          {% endfor %}
        </div>
        {% endfor %}
        <div class="action">
          <input type="button" value="Print List" />
        </div>
      </div>
    </main>
    <aside>
      <input
        type="text"
        name=""
        id="student-name-search"
        placeholder="Search by name..."
      />
      <h1>Student's</h1>
      <input class="active" type="button" value="with debt's" id="btnWD" />
      <input type="button" value="without debt's" id="btnWOD" />
    </aside>
  </body>
</html>
