{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css"
    />
    <link rel="stylesheet" href="{% static 'css/general.css' %}" />
    <link rel="stylesheet" href="{% static 'css/updateInfo.css' %}" />
    <script
      type="module"
      src="{% static 'javascript/admin/updateInfoStaff.js' %}"
    ></script>
    <title>Document</title>
  </head>
  <body data-theme="light">
    <div class="container">
      <div class="selectors">
        <h2 class="active">Staff</h2>
      </div>
      <div class="profile-img">
        <img src="{% static 'assets/images/windows.jpg' %}" alt="" />
      </div>
      <div class="inputs-group">
        {% csrf_token %}
        <input
          type="text"
          name="surname"
          placeholder="Surname"
          id="staff-surname"
        />
        <input
          type="text"
          name="otherName"
          placeholder="Other Name"
          id="staff-otherName"
        />
        <input
          type="text"
          name="department"
          placeholder="department"
          id="staff-department"
          list="departments"
        />
        <datalist id="departments">
          {% for department in departments %}
          <option value="{{department.name}}">{% endfor %}</option>
        </datalist>
      </div>
      <div class="auth-btn">
        <input type="button" value="Submit" id="info-submit-btn" />
      </div>
    </div>
  </body>
</html>
